<body class="fondo">
  <div class="cabecera">
    <h1 class="nombre">NOMBRE DEL BAR</h1>
  </div>
  <div>
    <img class="perfil"/>
  </div>
  <div class="login">
    <form method="post">
    <input type="text" [(ngModel)]="username" name="username" class="username" placeholder="Username" />
    <input type="password" [(ngModel)]="password" name="password"class="password"  placeholder="Contraseña" />
  </form>
  <button class="boton" (click)="getLogin()">Login</button>
  </div>
</body>

<router-outlet></router-outlet>